<nav class="nav" aria-label="Main">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="https://raccess.rockarch.org/" id="raccess">Sign in to RACcess <span class="material-icons" aria-hidden="true">arrow_right_alt</span></a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/list/" id="list">My List (146) <span class="material-icons" aria-hidden="true">arrow_right_alt</span></a>
    </li>
  </ul>
  <div class="dropdown hide-on-lg-up">
    <button class="btn nav-mobile__btn closed" tabindex="0" aria-expanded="false">
      <span class="material-icons" aria-hidden="true">menu</span>
    </button>
    <ul class="dropdown__list dropdown__list--mobile dropdown__list--slide-left closed">
      <li><a id="menu-item-0" class="btn btn--navy btn--mobile-dropdown" href="https://raccess.rockarch.org" tabindex="-1">Sign in to RACcess<span class="material-icons" aria-hidden="true">east</span></a></li>
      <li><a id="menu-item-1" class="btn btn--navy btn--mobile-dropdown" href="/list" tabindex="-1">My List<span class="material-icons" aria-hidden="true">east</span></a></li>
    </ul>
  </div>
</nav>
