<div class="modal" tabindex="-1" role="dialog" aria-modal="true">
  <div class="modal__header">
    <h2 class="modal__header-title">{{title}}</h2>
    <button class="modal__header-button" aria-label="Close">
      <span class="material-icon" aria-hidden="true">close</span>
    </button>
  </div>
  <div class="modal__body">
    <p>{{text}}</p>
  </div>
</div>
