<header class="hero">
  <div class="hero__wrapper">
    <div class="hero__logo">
      <img alt="{{altText}}" src="{{imageUrl}}">
    </div>
    <h1 class="hero__text">
      {{text}}
    </h1>
  </div>
</header>
