<button class="btn {{buttonClass}}">
  <span class="material-icons" aria-hidden="true">{{iconBefore}}</span>
    {{buttonText}}
  <span class="material-icons" aria-hidden="true">{{iconAfter}}</span>
</button>
