// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

/**
* Primary Footer title mixin
**/
@mixin footer-primary-title-text {
  font-family: $sans-serif-stack;
  font-size: 21px;
  font-weight: $font-weight-heavy;
  letter-spacing: 4px;
  line-height: 26px;
  text-transform: uppercase;
}

/**
* Primary Footer text mixin
**/
@mixin footer-primary-text {
  color: $regal-blue;
  font-family: $serif-stack;
  font-size: 15px;
  line-height: 22px;
}

/**
* Primary Footer link mixin
**/
@mixin footer-primary-link {
  @include footer-primary-text;

  &:hover,
  &:focus {
    color: $flame-orange;
  }
}

/**
* Secondary Footer text mixin.
**/
@mixin footer-secondary-text {
  @include footer-primary-text;

  color: $white;
}

/**
* Secondary Footer link mixin
**/
@mixin footer-secondary-link {
  @include footer-secondary-text;

  &:hover,
  &:focus {
    color: $desert-grey;
  }
}

/**
* Footer layout styles.
* Ensures that there is no space between the bottom of the footer and the
* bottom of the page. This combines with the `flex-direction: column` styles applied
* to the the <body> element of the page. The footer must be a direct child of the
* <body> for this to take effect.
**/
footer {
  margin-top: auto;
  width: 100%;
}

/**
* Primary Footer styles.
* 1. Insertion of a visual line break without causing screen readers to pause.
**/
.footer-primary { background: $wan-white-grey; }
.footer-primary__text { @include footer-primary-text; }
.footer-primary__link { @include footer-primary-link; }

.footer-primary__title {
  @include footer-primary-title-text;

  grid-column: 1 / span 12;
  margin: 60px 0 28px;
  padding-bottom: 0;
}

.footer-primary__address,
.footer-primary__reading-room {
  grid-column: 1 / span 12;
  margin-bottom: 40px;
  margin-left: 0;

  @include md-up {
    margin-bottom: 50px;
  }
}

.footer-primary__address {
  @include md-up {
    grid-column: 1 / span 6;
  }

  @include lg-up {
    grid-column: 1 / span 3;
  }
}

.footer-primary__reading-room {
  @include md-up {
    grid-column: 7 / span 6;
  }

  @include lg-up {
    grid-column: 4 / span 3;
  }
}

.footer-primary__social {
  grid-column: 1 / span 12;
  margin-bottom: 30px;
  margin-left: 0;

  @include lg-up {
    grid-column: 8 / span 5;
    justify-self: end;
  }
}

.footer-primary__social .social-icons {
  @include lg-up {
    margin: 0 0 18px auto;
  }
}

.footer-primary__policy-link:not(:first-child) {
  margin-left: 28px;
}

/**
* Secondary Footer styles.
**/
.footer-secondary { background: $regal-blue; }
.footer-secondary__text { @include footer-secondary-text; }
.footer-secondary__link { @include footer-secondary-link; }

.footer-secondary__list {
  grid-column: 1 / span 12;
  list-style: none;
  padding: 0;

  @include lg-up { text-align: right; }
}

.footer-secondary__list-item {
  display: block;

  @include md-up {
    display: inline-block;
    padding-right: 28px;
  }
}

.footer-secondary__list-item:last-of-type {
  padding-right: 0;
}
