<footer class="footer" role="contentinfo">
  <div class="footer-primary">
    <div class="grid container">
      <h2 class="footer-primary__title heading--dotted-border">Rockefeller <span class="line-break">Archive Center</span></h2>
      <div class="footer-primary__address">
        <p class="footer-primary__text">15 Dayton Avenue<br>Sleepy Hollow, New York 10591</p>
        <p class="footer-primary__text">Phone: (914) 366-6300<br>Fax: (914) 631-6017<br>E-mail: <a class="footer-primary__link" href="mailto:archive@rockarch.org">archive@rockarch.org</a></p>
      </div>
      <div class="footer-primary__reading-room">
        <p class="footer-primary__text">Reading Room Hours:</p>
        <p class="footer-primary__text">Monday-Friday<br>9:00 a.m. to 5:00 p.m.<br><a class="footer-primary__link" href="https://rockarch.org/collections/access-and-request-materials/">How to access and request materials</a>.</p><a
          class="footer-primary__link" href="https://rockarch.org/collections/access-and-request-materials/holiday-schedule/">See holiday schedule</a>
      </div>
      <div class="footer-primary__social">
        {{> ../socialIcons/socialIcons}}
        <p>
          <a class="footer-primary__link footer-primary__policy-link" href="https://rockarch.org/about-us/accessibility/">Accessibility Statement</a>
          <a class="footer-primary__link footer-primary__policy-link" href="https://rockarch.org/about-us/privacy-policy/">Privacy Policy</a>
          <a class="footer-primary__link footer-primary__policy-link" href="https://docs.rockarch.org">RAC Policies</a>
        </p>
        <p class="footer-primary__text">Copyright © Rockefeller Archive Center. All rights reserved.</p>
      </div>
    </div>
  </div>
  {{#if showSecondary}}
  <div class="footer-secondary">
    <div class="grid container">
      <ul class="footer-secondary__list">
        <li class='footer-secondary__list-item'><a class='footer-secondary__link' href='https://docs.rockarch.org/argo-docs/'>Collections data API</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://docs.rockarch.org/archival-description-license/">Licensing for our descriptive metadata</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://github.com/RockefellerArchiveCenter/data/">Bulk data download</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://docs.rockarch.org/takedown-policy/">Take-down policy</a></li>
      </ul>
    </div>
    </div>
  </div>
  {{/if}}
</footer>
