// -------------------------------------------
// This file contains styles related to alerts
// -------------------------------------------

/**
* Mixin for alert colors. Accepts arguments for background color, border color and text color.
**/
@mixin alert-color($background-color, $border-color, $color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

/**
* Base alert class.
**/
.alert {
  border: 1px solid;
  margin: 10px 0;
  padding: 20px;
}

/**
* Wrapper for the alert icon.
**/
.alert__icon-wrapper {
  display: inline-block;
  vertical-align: middle;
}

/**
* Wrapper for text in the alert.
**/
.alert__text-wrapper {
  display: inline-block;
  vertical-align: middle;
}

/**
* Button which closes the alert.
**/
.alert__button {
  background: none;
  border: 0;
  color: inherit;
  float: right;
  margin: -10px;
}

/**
* Optional alert header.
**/
.alert__header {
  color: inherit;
  margin: 0;
}

/**
* Optional alert icon.
**/
.alert__icon {
  @include material-icon(75px, normal);

  padding-right: 10px;
}

/**
* Main text of the alert.
**/
.alert__text {
  margin: 0;
}

/**
* Styles for alert colors.
**/
.alert--blue {
  @include alert-color($yale-blue, $yale-blue, $white);
}

.alert--navy {
  @include alert-color($regal-blue, $regal-blue, $white);
}

.alert--orange {
  @include alert-color($flame-orange, $flame-orange, $regal-blue);
}
