// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

/**
* Mixin for text used in cards
**/
@mixin card-text {
  color: $night-grey;
  font-family: $sans-serif-stack;
  font-size: 15px;
  font-weight: $font-weight-normal;
  line-height: 24px;
  margin-top: 8px;

  @include lg-up {
    margin: 10px 0;
  }
}

/**
* Mixin for title text used in cards
* 1. Specifies line height when a title spans multiple lines
* instead of using the default line-height for ul elements
**/
@mixin card-title-text {
  @include card-text;

  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: 22px; /* 1 */
  margin-top: 0;
}

/**
* Mixin for flex styles used in all card elements
**/
@mixin card-element-flex {
  display: flex;
  flex-wrap: wrap;
}

/**
* Styles the wrapper for the cards, which should be a ul element.
* 1. The gap between cards
* 2. The number of card columns can be adjusted by screen size
* using media queries.
**/
.card-list {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  margin: 0;

  // @include md-up {
  //   grid-template-columns: repeat(3, 1fr); /* 2 */
  // }

  // @include lg-up {
  //   grid-template-columns: repeat(4, 1fr); /* 2 */
  //   }
}

/**
* Base card styles
* 1. Relative positioning is necessary in order to make entire card clickable.
**/
.card {
  @include card-element-flex;

  align-items: flex-start;
  background-color: $desert-grey;
  border-radius: $border-radius-default;
  box-shadow: 0 0 0 1px $silver-grey, 0 0 4px 0 lighten($silver-grey, 5%);
  padding: 26px 20px;

  @include md-up {
    min-height: 210px;
    padding: 32px 20px;
  }

  @include lg-up {
    min-height: 220px;
    padding: 32px 26px;
  }
}

/**
* Styles cards as clickable links
* 1. Relative positioning is necessary in order to make entire card clickable.
**/
.card--link {
  position: relative; /* 1 */

  &:hover,
  &:focus {
    @include transition-default;

    box-shadow: 0 0 0 2px $crusta-orange, 0 0 8px 2px lighten($silver-grey, 10%);
  }
}

/**
* Styles for card titles.
* 1. Ensures that the card title will always be on a line by itself.
**/
.card__title {
  @include card-title-text;

  width: 100%; /* 1 */
}

/**
* Styles for card titles when the card is a link.
* 1. Removes default link styles from the card title
* 2. Creates a pseudo element which makes the entire card clickable.
**/
.card--link .card__title {
  text-decoration: none; /* 2 */

  &::after { /* 2 */
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &:hover, /* 2 */
  &:focus {
    color: $night-grey;
    text-decoration: none;
  }
}

/**
* Styles the card body, which contains the title and body text.
* 1. Pushes content to the top of the card body.
**/
.card__body {
  @include card-element-flex;

  align-self: flex-start; /* 1 */
  width: 100%;
}

/**
* Styles the card footer, which contains footer text.
* 1. Pushes content to the bottom of the footer.
**/
.card__footer {
  @include card-element-flex;

  align-self: flex-end; /* 1 */
  padding-top: 22px;
  width: 100%;
}

.card__body-text {
  @include card-text;
}

.card__footer-text {
  @include card-text;
}
