// -----------------------------------------------------------------------------
// This file contains styles related to the dropdown menu component, including the button
// associated with lists of links or menu items.
//
// For related styles, see styles for the nav component and header layout.
// -----------------------------------------------------------------------------

/**
* Styles for the dropdown container.
**/
.dropdown {
  position: relative;
}

/**
* Styles for a dropdown list or menu of items, typically used on small screens.
* 1. The negative z-index value places the dropdown list under all other
* values until it is opened.
**/
.dropdown__list {
  @include transition-default;

  border-radius: 3px;
  margin-top: 5px;
  padding: 20px 0;
  width: 270px;
  z-index: -999; /* 1 */

  &.open {
    opacity: 1;
    z-index: 1000; /* 1 */
  }

  &.closed {
    opacity: 0;
  }
}

/**
* Styles for a dropdown list of items used on small screens
* like the dropdown opened by the navigation menu button.
**/
.dropdown__list--mobile {
  border-radius: 0;
  height: 100%;
  margin-top: 10px;
  position: fixed;
  right: 0;
  top: 60px;
  width: 240px;
}

/**
* Styles for dropdown list background colors. Choose the class that
* matches the button color class that should be used to style the list
* items.
**/
.dropdown__list--navy {
  background-color: $regal-blue;
}

.dropdown__list--orange {
  background-color: $flame-orange;
}

/**
* Styles to control how a dropdown appears on the screen when opened
* or closed.
**/
.dropdown__list--slide-left {
  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(270px);
  }
}

.dropdown__list--slide-down {
  &.open {
    transform: translateY(0);
  }

  &.closed {
    transform: translateY(-5px);
  }
}

/**
* Items in a dropdown list styled as buttons. These classes can be used along with
* specific button color classes.
**/
.dropdown__btn {
  border-radius: 0;
  display: flex;
  font-size: 12px;
  line-height: 21px;
  margin: 0;
  padding: 10px 14px;

  .material-icon {
    @include material-icon(21px);

    margin-right: 15px;
  }
}

.dropdown__btn--mobile {
  padding: 12px 24px;

  &:focus {
    outline-offset: 0;
  }
}
