// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component
// -----------------------------------------------------------------------------

.hero {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  padding: 30px;

  @include md-up {
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 113px;
  }

  @include lg-up {
    margin-top: 103px;
  }
}

.hero__logo {
  height: auto;
  text-align: left;

  img {
    width: 85px;

    @include md-up {
      width: 120px;
    }

    @include lg-up {
      width: 160px;
    }
  }
}

.hero__text {
  text-align: left;
  width: 100%;

  @include md-up {
    margin-left: 30px;
    width: unset;
  }

  @include lg-up {
    margin-left: 50px;
  }
}
