// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component
// -----------------------------------------------------------------------------

/**
 * Class for hero content block.
 */
.hero {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;

  @include md-up {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

/**
 * Styles the image used in a hero.
 */
.hero__logo {
  height: auto;
  text-align: left;

  img {
    width: 85px;

    @include md-up {
      width: 120px;
    }

    @include lg-up {
      width: 160px;
    }
  }
}

/**
 * Styles the text used in a hero, including font stylings.
 */
.hero__text {
  color: $night-grey;
  font-family: $serif-stack;
  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: 24px;
  text-align: left;
  width: 100%;

  @include md-up {
    font-size: 28px;
    line-height: 38px;
    margin-left: 30px;
    width: unset;
  }

  @include lg-up {
    font-size: 34px;
    line-height: 42px;
    margin-left: 50px;
  }
}
