// -----------------------------------------------------------------------------
// This file contains all styles related to icons
// -----------------------------------------------------------------------------

.material-icons {
  direction: ltr;
  display: inline-block;
  font-family: $icons;
  font-feature-settings: 'liga';
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
  pointer-events: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}
