// -----------------------------------------------------------------------------
// This file contains all styles related to the minimap component.
// -----------------------------------------------------------------------------

/**
* Creates classes .minimap--{{count}}-across that specify the number of
* 1fr grid-templates-columns between 1 and 20. For example, the
* .minimap--5-across class specifies 5 columns. For more than 20
* columns, adjust the $grid-col-count variable.
* 1. min of 24px ensures WCAG AA spec for target area size.
**/
$grid-col-count: 20;

@mixin grid-col-count-class {
  @for $count from 1 through $grid-col-count {
    .minimap--#{$count}-across {
      grid-template-columns: repeat($count, minmax(24px, 1fr)); /* 1 */
    }
  }
}

/**
* Mixin for minimap hit links with a "color" variable argument, including styles
* on hover, focus, or active events for minimap links.
* 1. Allow checkmark for visited links to be centered in the box.
* 2. Styles for checkmark, which is visible via a color change once link is active
*    or has been visited.
**/
@mixin minimap-hit($color) {
  align-items: center; /* 1 */
  background: $color;
  color: $color;
  display: flex; /* 1 */
  justify-content: center; /* 1 */
  text-decoration: none;

  @include on-event {
    border: 3px solid darken($color, 22%);
    color: $color;
    outline: none;

    @include lg-up {
      border: 2px solid darken($color, 22%);
    }
  }

  .material-icon {
    font-size: 18px; /* 2 */
  }

  &:visited,
  &:active {
    background-color: darken($color, 10%);
    color: $white; /* 2 */
  }
}

/**
* Styles for minimap that uses grid display. On medium and small screens, styles
* assume the minimap will be inside of a modal.
* 1. Increases gutter space between grid items on small screens.
**/
.minimap {
  align-content: start;
  display: grid;
  float: left;
  gap: 8px; /* 1 */
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
  z-index: 998;

  @include lg-up {
    gap: 1px; /* 1 */
  }
}

/**
* Includes the classes to specify grid-template-columns number
**/
@include grid-col-count-class;

/**
* Styles for the minimap grid item boxes.
* 1. Ensures that the boxes are square.
**/
.minimap__box {
  aspect-ratio: 1/1; /* 1 */
  background-color: $wan-white-grey;
  border-radius: 3px;
  box-sizing: border-box;

  @include lg-up {
    border-radius: 2px;
  }
}

/**
* Styles for the minimap links.
**/
.minimap__digital-hit {
  @include minimap-hit($yale-blue);
}

.minimap__record-hit {
  @include minimap-hit($flame-orange);
}
