// -----------------------------------------------------------------------------
// This file contains all styles related to the skip-link component
// -----------------------------------------------------------------------------

/**
 * Class that defines the style for skipLink elements.
**/
.skip-link {
  background: $flame-orange;
  color: $desert-grey;
  font-family: $sans-serif-stack;
  font-size: 18px;
  font-weight: $font-weight-bold;
  left: 80px;
  padding: 15px 20px 18px;
  position: absolute;
  text-align: center;
  top: 60px;

  &:hover {
    background-color: inherit;
    color: $desert-grey;
  }

  &:focus {
    color: $desert-grey;
  }
}
