// -----------------------------------------------------------------------------
// This file contains all styles related to social media icons
// -----------------------------------------------------------------------------

/**
 * Class for social icons content block.
 * * 1. Remove default link line-height
 */
.social-icons {
  display: flex;
  justify-content: space-between;
  max-width: 250px;

  a {
    line-height: inherit; /* 1 */
    margin: 0;
    text-decoration: none;
  }
}

/**
 * Styles to specify the color, layout, and spacing of social media icons.
 */
.social-icons__icon {
  display: inline-block;
  height: auto;
  pointer-events: visiblefill;
  text-align: center;
  vertical-align: middle;
  width: 100%;

  &:hover,
  &:focus {
    @media (prefers-reduced-motion: no-preference) {
      svg g,
      svg path {
        fill: $flame-orange;
        transition: $transition-default;
      }
    }
  }
}
