// -----------------------------------------------------------------------------
// This file contains all styles related to the table of contents component
// -----------------------------------------------------------------------------

.toc {
  display: flex;
  margin-bottom: 60px;
  position: sticky;
  top: 60px;
}

.toc__list {
  display: block;
  min-height: 250px;
  padding: 36px 20px;
  width: 100%;

  @include lg-up {
    padding: 36px 25px;
  }
}

.toc__list-item {
  display: block;
  font-family: $sans-serif-stack;
  font-size: 14px;
  font-weight: $font-weight-heavy;
  line-height: 17px;
  list-style: none;
  text-align: left;
  text-decoration: none;
  width: 100%;

  @include lg-up {
    line-height: 18px;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:active,
  &:focus {
    @include focus-default;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.toc--neutral {
  background-color: $desert-grey;

  .toc__list-item {
    color: $night-grey;
  }
}

.toc--blue {
  background-color: $solitude-blue;

  .toc__list-item {
    color: $regal-blue;
  }
}

.toc--orange {
  background-color: $flame-orange;
}

.toc--orange .toc__list-item {
  color: $white;

  &:active,
  &:focus {
    outline-color: $white;
  }
}
