// -----------------------------------------------------------------------------
// This file contains all styles related to the table of contents component
// -----------------------------------------------------------------------------

/**
* Styles for table of contents navigation
* 1. Keeps table of contents visible on the page while scrolling
**/
.toc {
  margin-bottom: 60px;
  position: sticky; /* 1 */
  top: 60px;
  width: 100%;
}

/**
* Styles for the group of table of contents items, including the title
* 1. Indicates when a table of contents link is active
**/
.toc__list {
  min-height: 250px;
  padding: 36px 20px;

  @include lg-up {
    padding: 36px 25px;
  }

  a:active {
    @include focus-default; /* 1 */
  }
}

/**
* Styles for the the contents links, including the title
* 1. Creates more vertical space between items on large screens
**/
.toc__title,
.toc__list-item {
  display: block;
  font-family: $sans-serif-stack;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

/**
* Styles for table of contents title. Font size and weight are the same as an h2 element
**/
.toc__title {
  font-size: 21px;
  font-weight: $font-weight-bold;
  margin: 0 0 20px;
}

.toc__list-item {
  font-size: 14px;
  font-weight: $font-weight-heavy;
  line-height: 17px;
  list-style: none;

  @include lg-up {
    line-height: 18px; /* 1 */
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.toc__list-item :hover,
.toc__title :hover {
  cursor: pointer;
}

/**
* Styles to create three table of contents color options
* 1. Changes the default focus style outline color to be visible on the orange background
**/
.toc--neutral {
  background-color: $desert-grey;

  .toc__list-item,
  .toc__title {
    color: $night-grey;
  }
}

.toc--blue {
  background-color: $solitude-blue;

  .toc__list-item,
  .toc__title {
    color: $regal-blue;
  }
}

.toc--orange {
  background-color: $flame-orange;
}

.toc--orange .toc__list-item,
.toc--orange .toc__title {
  color: $white;

  &:active,
  &:focus {
    outline-color: $white; /* 1 */
  }
}
