<div class="tooltip__wrapper">
    <button class="btn btn--lg btn--orange">{{anchorText}}</button>
    <div class="tooltip tooltip--{{position}}" role="alert">
        {{tooltipText}}
    </div>
</div>
