<div class="dropdown">
  <button class="btn btn--orange btn--md" aria-haspopup="true" tabindex="0">
    <span class="material-icon material-icon--space-after" aria-hidden="true">{{iconBefore}}</span>
    {{buttonText}}
  </button>
  {{#if showDropdownItems}}
  <div class="dropdown__list dropdown__list--orange dropdown__list--slide-down list--unstyled open" role="menu">
    <a id="menu-item-0" class="btn btn--orange dropdown__btn dropdown__item--orange"
      href={{linkTarget}}
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">account_balance</span>
      Schedule a Visit
    </a>
    <a id="menu-item-1" class="btn btn--orange dropdown__btn dropdown__item--orange" 
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">local_library</span>
      Request in Reading Room
    </a>
    <a id="menu-item-2" class="btn btn--orange dropdown__btn dropdown__item--orange" 
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">content_copy</span>
      Request Copies
      </a>
    <a id="menu-item-3" class="btn btn--orange dropdown__btn dropdown__item--orange" 
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">email</span>
      Email List
    </a>
    <a id="menu-item-4" class="btn btn--orange dropdown__btn dropdown__item--orange" 
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">get_app</span>
      Download as .csv
    </a>
    <a id="menu-item-5" class="btn btn--orange dropdown__btn dropdown__item--orange" 
      tabindex="-1" role="menuitem">
      <span class="material-icon material-icon--space-after" aria-hidden="true">delete</span>
      Remove All Items
    </a>
  </div>
  {{/if}}
</div>


{{!-- aria-expanded is not necessary on the button if using aria-haspopup. --}}