<ul class="pagination__list">
  <li class="pagination__button disabled">
    <a class="material-icons" tabindex="0" role="button" aria-disabled="true" aria-label="Previous page">keyboard_arrow_left</a>
  </li>
  <li class="pagination__page page__active">
    <a role="button" tabindex="0" aria-label="Page 1 is your current page" aria-current="page">1</a>
  </li>
  <li class="pagination__page">
    <a role="button" tabindex="0" aria-label="Page 2">2</a>
  </li>
  <li class="pagination__page">
    <a role="button" tabindex="0" aria-label="Page 3">3</a>
  </li>
  <li class="pagination__page">
    <a role="button" tabindex="0" aria-label="Page 4">4</a>
  </li>
  <li class="pagination__page">
    <a role="button" tabindex="0" aria-label="Page 5">5</a>
  </li>
  <li class="pagination__break">
    <a role="button" tabindex="0">...</a>
  </li>
  <li class="pagination__page">
    <a role="button" tabindex="0" aria-label="Page 7">7</a>
  </li>
  <li class="pagination__button">
    <a class="material-icons" tabindex="0" role="button" aria-disabled="false" aria-label="Next page">keyboard_arrow_right</a>
  </li>
</ul>
