<ul class="pagination__list">
  <li class="pagination__button disabled">
    <a class="material-icon" aria-disabled="true" aria-label="Previous page" rel="prev">keyboard_arrow_left</a>
  </li>
  <li class="pagination__page page__active">
    <a rel="canonical" aria-label="Page 1 is your current page" aria-current="page">1</a>
  </li>
  <li class="pagination__page">
    <a>2</a>
  </li>
  <li class="pagination__page">
    <a>3</a>
  </li>
  <li class="pagination__page">
    <a>4</a>
  </li>
  <li class="pagination__page">
    <a>5</a>
  </li>
  <li class="pagination__break disabled">
    <a aria-disabled="true" aria-label="truncated pages">...</a>
  </li>
  <li class="pagination__page">
    <a>7</a>
  </li>
  <li class="pagination__button">
    <a class="material-icon" aria-disabled="false" aria-label="Next page">keyboard_arrow_right</a>
  </li>
</ul>
