<dl class="summary-list">
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Bagging Date
    </dt>
    <dd class="summary-list__value">
      Feb. 24, 2023, 1:35 p.m.
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Start Date
    </dt>
    <dd class="summary-list__value">
      March 9, 2016
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      End Date
    </dt>
    <dd class="summary-list__value">
      Oct. 20, 2020
    </dd>
  </div>
  <div class="summary-list__row">
    <dt class="summary-list__key">
      Record Type
    </dt>
    <dd class="summary-list__value">
      Event Files
    </dd>
  </div>
</dl>