<a href="#" class="text--blue">blue link</a><br/>
<div class="p-10" style="width: 100%; background-color: #5c5c5c;">
  <a class="text--white" href="#">white link</a>
</div>
<div style="width: 100%; background-color: #5c5c5c;">
  <h1 class="text--white" href="#">White Heading</h1>
</div>
<h2 class="text--orange">Orange heading</h2>

