<nav aria-label="breadcrumbs">
  <ol class="breadcrumbs">
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/">home</a></li>
    <li class="breadcrumbs__item"><a class="breadcrumbs__link" href="/about-us/">about us</a></li>
    <li class="breadcrumbs__item">overview</li>
  </ol>
</nav>
