<nav class="breadcrumb" role="navigation" aria-label="breadcrumb">
  <ol>
    <li class="breadcrumb__item"><a href="/">home</a></li>
    <li class="breadcrumb__item"><a href="/about-us/">about us</a></li>
    <li class="breadcrumb__item">overview</li>
  </ol>
</nav>
