<footer role="contentinfo">
  <div class="footer-primary">
    <div class="wrapper">
      <div class="grid container">
        <h2 aria-label="Rockefeller Archive Center" class="footer-primary__title heading--dotted-border">
          <span aria-hidden="true">Archive & Special Collections<br>University Library System<br>University of Pittsburgh</span>
        </h2>
        <div class="footer-primary__address">
          <p class="footer-primary__text">A&SC at Hillman Library<br>Phone: (412) 648-8190</p>
          <p class="footer-primary__text">A&SC at Hillman Library<br>Phone: (412) 648-8190<br>E-mail: <a class="footer-primary__link" href="mailto:archives-ref@pitt.edu">archives-ref@pitt.edu</a></p>
        </div>
        <div class="footer-primary__reading-room">
          <p class="footer-primary__text"></p>
          <p class="footer-primary__text"><a class="footer-primary__link" href="https://www.library.pitt.edu/hours">All library hours and directions.</a></p><a
            class="footer-primary__link" href="https://www.library.pitt.edu/asc-doing-research">How to access and request materials</a>
        </div>
        <div class="footer-primary__social">
          {{> ../socialIcons/socialIcons}}
          <p class="footer-primary__text">
            <a class="footer-primary__link footer-primary__policy-link" href="https://rockarch.org/about-us/accessibility/">Accessibility Statement</a>
            <a class="footer-primary__link footer-primary__policy-link" href="https://rockarch.org/about-us/privacy-policy/">Privacy Policy</a>
            <a class="footer-primary__link footer-primary__policy-link" href="https://docs.rockarch.org">RAC Policies</a>
          </p>
          <p class="footer-primary__text">Copyright © University of Pittsburgh. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  {{#if showSecondary}}
  <div class="footer-secondary">
    <div class="grid container">
      <ul class="footer-secondary__list">
        <li class='footer-secondary__list-item'><a class='footer-secondary__link' href='https://docs.rockarch.org/argo-docs/'>Collections data API</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://docs.rockarch.org/archival-description-license/">Licensing for our descriptive metadata</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://github.com/RockefellerArchiveCenter/data/">Bulk data download</a></li>
        <li class="footer-secondary__list-item"><a class="footer-secondary__link" href="https://docs.rockarch.org/takedown-policy/">Take-down policy</a></li>
      </ul>
    </div>
  </div>
  {{/if}}
</footer>
