
<div class="grid">
  <div class="p-10 mb-20" style="grid-column: 1 / span 12; background-color: #f6f6f6">
  Content spans 12 columns by applying the <code>grid</code> class to the container
  and the CSS Grid styles <code>grid-column: 1 / span 12</code> to the element.
  </div>

  <div class="p-10 mb-20" style="grid-column: 1 / span 6; background-color: #f6f6f6">
  Content spans left 6 columns by applying the <code>grid</code> class to the container
  and the CSS Grid styles <code>grid-column: 1 / span 6</code> to the element.
  </div>
  <div class="p-10 mb-20" style="grid-column: 7 / span 6; background-color: #ebeff4">
  Content spans right 6 columns by applying the <code>grid</code> class to the container
  and the CSS Grid styles <code>grid-column: 7 / span 6</code> to the element.
  </div>

  <div class="p-10" style="grid-column: 1 / span 4; background-color: #f6f6f6">
  Content spans left 3 columns by applying the <code>grid</code> class to the container
  and the CSS Grid styles <code>grid-column: 1 / span 3</code> to the element.
  </div>
  <div class="p-10" style="grid-column: 5 / span 8; background-color: #ebeff4">
  Content spans right 3 columns by applying the <code>grid</code> class to the container
  and the CSS Grid styles <code>grid-column: 4 / span 8</code> to the element.
  </div>
</div>

