<div class="minimap {{#if countAcross}}minimap--{{countAcross}}-across"{{else}}minimap--5-across"{{/if}}>
  <a href="/objects/7mK5fmAxVd2B9hkfYYXxww?category=&amp;limit=40&amp;query=banana" class="minimap__box minimap__hit" title="Jump to 1 hit in this area: A Harvest Biotech Foundation International (10251408)">
     <span class="visually-hidden">Jump to 1 hit in this area: A Harvest Biotech Foundation International (10251408)</span>
  </a>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <a href="/objects/6vMaK3W4sCv4MuUVCYM4ho?category=&amp;limit=40&amp;query=banana" class="minimap__box minimap__digital-hit" title="Jump to 3 digital hits in this area: Banana Kelly Community Improvement Association, Inc. (08050422), Banana Kelly Community Improvement Association, Inc. (08050861), Banana Kelly Community Improvement Association, Inc. (08350066)">
    <span class="visually-hidden">Jump to 3 digital hits in this area: Banana Kelly Community Improvement Association, Inc. (08050422), Banana Kelly Community Improvement Association, Inc. (08050861), Banana Kelly Community Improvement Association, Inc. (08350066)</span>
  </a>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <a href="/objects/cEs9ejmdX38EJejtcRyeYe?category=&amp;limit=40&amp;query=banana" class="minimap__box minimap__hit" title="Jump to 1 hit in this area: #53824 P-3 C.S. Perkins/Magnum (D90-117/32) Yanomami Indians, Brazil - Sheltered from the Rain Under a Banana Leaf">
    <span class="visually-hidden">Jump to 1 hit in this area: #53824 P-3 C.S. Perkins/Magnum (D90-117/32) Yanomami Indians, Brazil - Sheltered from the Rain Under a Banana Leaf</span>
  </a>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <a href="/objects/88wbKDZ7kReWQBAa5W5e3Z?category=&amp;limit=40&amp;query=banana" class="minimap__box minimap__hit" title="Jump to 1 hit in this area: Banana communities: an exploratory social analysis (Reports 001275-012)">
    <span class="visually-hidden">Jump to 1 hit in this area: Banana communities: an exploratory social analysis (Reports 001275-012)</span>
  </a>
  <div class="minimap__box"></div>
  <a href="/objects/LoViYNNVhXHeB2cRT36w4A?category=&amp;limit=40&amp;query=banana" class="minimap__box minimap__hit" title="Jump to 1 hit in this area: Banana communities: an exploratory social analysis (Reports 002175-003)">
    <span class="visually-hidden">Jump to 1 hit in this area: Banana communities: an exploratory social analysis (Reports 002175-003)</span>
  </a>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
  <div class="minimap__box"></div>
</div>
