@import '../../../stylesheets/main.scss';

@include describe('The focus-default mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include focus-default();
      }
      @include expect {
        outline: solid 2px $mortar-grey;
        outline-offset: 2px;
      }
    }
  }
}

@include describe('The transition-default mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include transition-default();
      }
      @include expect {
        @media screen and (prefers-reduced-motion: no-preference) {
          transition: $transition-default;
        }
      }
    }
  }
}

@include describe('The visually-hidden mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include visually-hidden();
      }
      @include expect {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
    }
  }
}

@include describe('The show-on-focus mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include show-on-focus();
      }
      @include expect {
        &:focus {
          clip: auto;
          height: auto;
          overflow: auto;
          position: absolute;
          width: auto;
          z-index: 1000;
        }
      }
    }
  }
}

@include describe('The twelve-column-grid mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include twelve-column-grid();
      }
      @include expect {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
      }
    }
  }
}

@include describe('The input-text mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include input-text;
      }
      @include expect {
        color: $night-grey;
        font-family: $sans-serif-stack;
        font-size: 14px;
      }
    }
  }
}

@include describe('The material-icon mixin') {
  @include it('Outputs the expected properties.') {
    @include assert {
      @include output {
        @include material-icon(24px, normal);
      }
      @include expect {
        direction: ltr;
        display: inline-block;
        font-family: $icons;
        font-feature-settings: 'liga';
        font-size: 24px;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-weight: $font-weight-normal;
        letter-spacing: normal;
        line-height: normal;
        pointer-events: none;
        text-transform: none;
        vertical-align: middle;
        white-space: nowrap;
        word-wrap: normal;
      }
    }
  }
}