<button class="btn {{class}}">
  {{#if iconBefore}}
  <span class="material-icon material-icon--space-after" aria-hidden="true">{{iconBefore}}</span>
  {{/if}}
    {{text}}
  {{#if iconAfter}}
  <span class="material-icon material-icon--space-before" aria-hidden="true">{{iconAfter}}</span>
  {{/if}}
</button>
