<div class="alert {{color}}" role="alert">
    {{# if dismissable}}
        <button class="alert__button" aria-label="Close">
            <span class="material-icon" aria-hidden="true">close</span>
        </button>
    {{/if}}
    {{# if icon}}
    <div class="alert__icon-wrapper">
        <span class="alert__icon" aria-hidden="true">{{icon}}</span>
    </div>
    {{/if}}
    <div class="alert__text-wrapper">
        {{# if title}}<h2 class="alert__header">{{title}}</h2>{{/if}}
        <p class="alert__text">{{text}}</p>
    </div>
</div>