// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

// Event wrapper
// Original tweet from Harry Roberts https://twitter.com/csswizardry/status/478938530342006784
// $self [false] - Whether or not to include current selector
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }

  @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

// Make a context based selector a little more friendly from Kitty Giraudel
// $context is a string value
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

// Default focus styles for consistency across browsers and improved accessibility.
@mixin focus-default {
  outline: solid 2px $mortar-grey;
  outline-offset: 2px;
}

/**
* Mixins for responsive media queries.
**/
@mixin md-up {
  @media screen and (min-width: $break-md) { @content; }
}

@mixin lg-up {
  @media screen and (min-width: $break-lg) { @content; }
}

/**
* Shows element only on medium or larger screens
**/
@mixin show-on-md-up {
  display: none;

  @include md-up {
    display: inherit;
  }
}

/**
* Hides element on medium or larger screens
**/
@mixin hide-on-md-up {
  display: inherit;

  @include md-up {
    display: none;
  }
}

/**
* Shows element only on large screens
**/
@mixin show-on-lg-up {
  display: none;

  @include lg-up {
    display: inherit;
  }
}

/**
* Hides element only on large screens
**/
@mixin hide-on-lg-up {
  display: inherit;

  @include lg-up {
    display: none;
  }
}
