// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Colors
/// Do not use color alone to communicate information.
/// To meet WCAG Level AA, text must have a contrast ratio of at least 4.5:1, or 3:1 for large text (defined as 14pt bold or 18pt).

//TODO: Consolidate if possible and remove color variables that can be replaced with Sass color functions in the component context.

/// Red Orange
/// @type Color
$red-orange: hsl(13, 86%, 60%) !default;

/// Main brand color
/// @type Color
$burnt-orange: hsl(17, 76%, 48%) !default;

/// Red Brown
/// @type Color
$red-brown: hsl(19, 49%, 44%) !default;

/// Medium Brown
/// @type Color
$med-brown: hsl(19, 83%, 34%) !default;

/// Deep Brown
/// @type Color
$deep-brown: hsl(23, 100%, 20%) !default;

/// Faded Orange
/// @type Color
$faded-orange: hsl(25, 87%, 64%) !default;

/// Peach Orange
/// @type Color
$peach-orange: hsl(30, 100%, 80%) !default;

/// Neutral Sand
/// @type Color
$neutral-sand: hsl(40, 10%, 88%) !default;

/// Orange Gray
/// @type Color
$orange-gray: hsl(45, 6%, 72%) !default;

/// Off White
/// @type Color
$off-white: hsl(60, 10%, 96%) !default;

/// Light Blue
/// @type Color
$light-blue: hsl(210, 27%, 82%) !default;

/// Pale Blue
/// @type Color
$pale-blue: hsl(213, 29%, 94%) !default;

/// Blue Gray
/// @type Color
$blue-gray: hsla(214, 15%, 53%, 0.3) !default;

/// Deep Navy
/// @type Color
$deep-navy: hsl(214, 49%, 19%) !default;

/// Deep Blue
/// @type Color
$deep-blue: hsl(214, 70%, 35%);

/// Dark Blue
/// @type Color
$dark-blue: hsl(214, 72%, 24%) !default;

/// Pure Black
/// @type Color
$pure-black: hsl(0, 0%, 0%) !default;

/// Dark Gray
/// @type Color
$dark-gray: hsl(0, 0%, 18%) !default;

/// Medium Gray
/// @type Color
$med-gray: hsl(0, 0%, 36%) !default;

/// Light Medium Gray
/// @type Color
$light-med-gray: hsl(0, 0%, 66%) !default;

/// Pure White
/// @type Color
$pure-white: hsl(0, 0%, 100%) !default;

/// Light Orange
/// @type Color
$light-orange: hsl(0, 100%, 95%) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
