// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors by category

// Oranges
$flame-orange: hsl(17deg 76% 48%);
$crusta-orange: hsl(13deg 86% 60%);
$sandy-orange: hsl(25deg 87% 64%);
$peach-orange: hsl(30deg 100% 80%);
$rose-violet: hsl(0deg 100% 95%);

// Blues
$regal-blue: hsl(214deg 49% 19%);
$midnight-blue: hsl(214deg 72% 24%);
$yale-blue: hsl(214deg 70% 35%);
$water-blue: hsl(210deg 27% 82%);
$solitude-blue: hsl(213deg 29% 94%);

// Browns
$maroon-brown: hsl(23deg 100% 20%);
$rust-red: hsl(19deg 83% 34%);
$umber-brown: hsl(17deg 87% 38%);

// Greys
$silver-grey: hsl(45deg 6% 72%);
$wan-white-grey: hsl(40deg 10% 88%);
$desert-grey: hsl(60deg 10% 96%);

// Monochrome
$black: hsl(0deg 0% 0%);
$night-grey: hsl(0deg 0% 18%);
$mortar-grey: hsl(0deg 0% 36%);
$dark-grey: hsl(0deg 0% 66%);
$white: hsl(0deg 0% 100%);

// Pitt Colors
$pitt-gold: #ffb81c;
$pitt-royal: #003594;
$pitt-dark-blue: #141b4d;
$pitt-med-blue: #00205b;
$pitt-dark-gold: #b58500;
$flame-orange: $pitt-gold;
$regal-blue: $pitt-dark-blue;
$yale-blue: $pitt-royal;
$umber-brown: $pitt-dark-gold;
$maroon-brown: $pitt-dark-gold;
$rust-red: $pitt-gold;
$crusta-orange: $pitt-gold;

// Fonts
$sans-serif-stack: 'Lato', sans-serif;
$serif-stack: 'Manuale', serif;
$icons: 'Material Icons';

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-heavy: 900;

// Border radius
$border-radius-default: 3px;

// Gutters for container
$gutters-default: 15px;

// Breakpoints map
$break-md: 580px;
$break-lg: 1024px;

// Default transition to be used with @transition-default mixin
$transition-default: all 0.2s ease;

// Relative or absolute URL where all assets are served from
// example scss - When using a CDN:
//   $base-url: 'http://cdn.example.com/assets/';
$base-url: 'https://assets.rockarch.org/';

:export {
  black: $black;
  crustaorange: $crusta-orange;
  darkgrey: $dark-grey;
  desertgrey: $desert-grey;
  flameorange: $flame-orange;
  maroonbrown: $maroon-brown;
  midnightblue: $midnight-blue;
  mortargrey: $mortar-grey;
  nightgrey: $night-grey;
  peachorange: $peach-orange;
  regalblue: $regal-blue;
  roseviolet: $rose-violet;
  rustred: $rust-red;
  sandyorange: $sandy-orange;
  silvergrey: $silver-grey;
  solitudeblue: $solitude-blue;
  umberbrown: $umber-brown;
  wanwhitegrey: $wan-white-grey;
  waterblue: $water-blue;
  white: $white;
  yaleblue: $yale-blue;
}
