// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
// Color names derived from https://www.color-blindness.com/color-name-hue/

//TODO: Consolidate colors by moving to a single hue (for blues and greys) and use consistent Sass color function math to create variations in components.

// Crusta Orange
$crusta-orange: hsl(13, 86%, 60%) !default;

// Flame Orange
$flame-orange: hsl(17, 76%, 48%) !default;

// Umber Brown
$umber-brown: hsl(17, 87%, 38%) !default;

// Rust Red
$rust-red: hsl(19, 83%, 34%) !default;

// Maroon Brown
$maroon-brown: hsl(23, 100%, 20%) !default;

// Sandy Orange
$sandy-orange: hsl(25, 87%, 64%) !default;

// Peach Orange
$peach-orange: hsl(30, 100%, 80%) !default;

// Wan White Grey
$wan-white-grey: hsl(40, 10%, 88%) !default;

// Silver Grey
$silver-grey: hsl(45, 6%, 72%) !default;

// Desert Grey
$desert-grey: hsl(60, 10%, 96%) !default;

// Water Blue
$water-blue: hsl(210, 27%, 82%) !default;

// Solitude Blue
$solitude-blue: hsl(213, 29%, 94%) !default;

// Regal Blue
$regal-blue: hsl(214, 49%, 19%) !default;

// Yale Blue
$yale-blue: hsl(214, 70%, 35%);

// Midnight Blue
$midnight-blue: hsl(214, 72%, 24%) !default;

// Black
$black: hsl(0, 0%, 0%) !default;

// Night Grey
$night-grey: hsl(0, 0%, 18%) !default;

// Mortar Grey
$mortar-grey: hsl(0, 0%, 36%) !default;

// Dark Grey
$dark-grey: hsl(0, 0%, 66%) !default;

// White
$white: hsl(0, 0%, 100%) !default;

// Rose Violet
$rose-violet: hsl(0, 100%, 95%) !default;

// Fonts
$sans-serif-stack: 'Lato', sans-serif !default;
$serif-stack: 'Manuale', serif !default;
$icons: 'Material Icons' !default;

// Font weight
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-extra-bold: 800 !default;
$font-weight-heavy: 900 !default;

// Border radius
$border-radius-default: 3px;

//Neat grid
$gutters-default: 15px !default;

$neat-grid: (
  gutter: $gutters-default
) !default;

// Breakpoints map
$break-md: 580px !default;
$break-lg: 1024px !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;

$transition-default: all 0.2s ease;

:export {
  black: $black;
  crustaorange: $crusta-orange;
  darkgrey: $dark-grey;
  desertgrey: $desert-grey;
  flameorange: $flame-orange;
  maroonbrown: $maroon-brown;
  midnightblue: $midnight-blue;
  mortargrey: $mortar-grey;
  nightgrey: $night-grey;
  peachorange: $peach-orange;
  regalblue: $regal-blue;
  roseviolet: $rose-violet;
  rustred: $rust-red;
  sandyorange: $sandy-orange;
  silvergrey: $silver-grey;
  solitudeblue: $solitude-blue;
  umberbrown: $umber-brown;
  wanwhitegrey: $wan-white-grey;
  waterblue: $water-blue;
  white: $white;
  yaleblue: $yale-blue;
}
