<table class="table{{#if striped}} table-striped{{/if}}">
    <thead>
        <tr>
            <th id="select">Select</th>
            <th id="title">Title</th>
            <th id="date">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" id="1" aria-labelledby="row01 title">
            </td>
            <th scope="row" id="row1">Pie Making Grant</td>
            <td>2021</td>
        </tr>
        <tr>
            <td>
                <input type="checkbox" id="2" aria-labelledby="row02 title">
            </td>
            <th scope="row" id="row2">Cupcake Makers Association of America</td>
            <td>2023</td>
        </tr>    
        <tr>
            <td>
                <input type="checkbox" id="3" aria-labelledby="row03 title">
            </td>
            <th scope="row" id="row3">Brownie Purveyors Society</td>
            <td>2024</td>
        </tr>         
    </tbody>
</table>