// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
* Styles applied to the body element ensure that the footer is always on the
* bottom of the page when combined with the  `margin-top: auto` styles applied
* to the footer element.
*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Apply default focus styles to buttons and links. Where these styles are
 * not sufficient based on background color or other factors, they can be overridden at the
 * component level.
 */
button:focus,
a:focus {
  @include focus-default;
}
