// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Main content containers and wrapper
 * 1. Use CSS grid to create 12-column grid
 * 2. Use default gutter values for margins
 * 3. Calculate width with gutters
 * 4. Make the container full width without gutters
 * 5. Flexbox wrapper class
 */
.container {
  @include twelve-column-grid; /* 1 */

  margin: 0 $gutters-default; /* 2 */
  width: calc(100% - (#{$gutters-default}) * 2); /* 3 */
}

.container--full-width {
  @include twelve-column-grid; /* 4 */
}

.wrapper { /* 5 */
  display: flex;
  justify-content: center;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

.visually-hidden {
  @include visually-hidden;
}

/**
 * Defines classes to show or hide elements based on mixins.
 **/
.hide-on-lg-up {
  @include hide-on-lg-up;
}

.show-on-lg-up {
  @include show-on-lg-up;
}

.show-on-focus {
  @include show-on-focus;
}

/**
* Base class for material icons setting 24px font size and normal line-height.
**/
.material-icon {
  @include material-icon;
}

/**
* Helper classes to adjust icon positions
**/
.material-icon--space-before {
  margin: 0 0 3px 3px;
}

.material-icon--space-after {
  margin: 0 3px 3px 0;
}
