// -----------------------------------------------------------------------------
// This file contains basic typography styles for copy text
// -----------------------------------------------------------------------------

/**
 * Google fonts
 */

//TODO: replace relative font paths with CDN URLs

/* lato-regular - latin */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src:
    local('Lato Regular'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-italic - latin */
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src:
    local('Lato Italic'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src:
    local('Lato Bold'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-700italic - latin */
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src:
    local('Lato Bold Italic'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  src:
    local('Lato Black'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}

/* lato-900italic - latin */
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 900;
  src:
    local('Lato Black Italic'),
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900italic.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/lato-v23-latin/lato-v23-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

/* manuale-regular - latin */
@font-face {
  font-family: Manuale;
  font-style: normal;
  font-weight: 400;
  src:
    local('Manuale Regular'),
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-regular.svg#Manuale') format('svg'); /* Legacy iOS */
}

/* manuale-700 - latin */
@font-face {
  font-family: Manuale;
  font-style: normal;
  font-weight: 700;
  src:
    local('Manuale Bold'),
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700.svg#Manuale') format('svg'); /* Legacy iOS */
}

/* manuale-italic - latin */
@font-face {
  font-family: Manuale;
  font-style: italic;
  font-weight: 400;
  src:
    local('Manuale Italic'),
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-italic.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-italic.svg#Manuale') format('svg'); /* Legacy iOS */
}

/* manuale-700italic - latin */
@font-face {
  font-family: Manuale;
  font-style: italic;
  font-weight: 700;
  src:
    local('Manuale Bold Italic'),
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700italic.woff') format('woff'), /* Modern Browsers */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../stories/assets/fonts/manuale-v23-latin/manuale-v23-latin-700italic.svg#Manuale') format('svg'); /* Legacy iOS */
}

/* material-icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
    local('Material Icons'),
    url('../stories/assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('../stories/assets/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

/**
 * Apply basic text styles for body and bold/italic elements
 */
body {
  color: $night-grey;
  font-family: $serif-stack;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: 26px;
  margin: 0 0 10px;
}

strong,
b {
  font-family: inherit;
  font-weight: $font-weight-bold;
}

em,
i {
  font-family: inherit;
  font-style: italic;
}

/**
 * Links
 */

/** Links are underlined by default
 * On link focus, hover, and active events:
 * 1. Change the color
 * 2. Show mouse cursor as pointer on hover
 * 3. Remove link underline
 */
a {
  color: $flame-orange;
  text-decoration: underline;

  @include on-event {
    @include transition-default;

    color: $crusta-orange; /* 1 */
    cursor: pointer; /* 2 */
    text-decoration: none; /* 3 */
  }
}

/**
 * Make a link bold
 */
.link--bold {
  font-weight: $font-weight-bold;
}

/**
 * Lists
 */

ul {
  font-family: $serif-stack;
  line-height: 23px;
}

/**
 * Remove the default bullet and left indent from an unordered list
 */
.list--unstyled {
  list-style: none;
  padding-left: 0;
}

/**
 * Headings
 */

h1 {
  color: $night-grey;
  font-family: $serif-stack;
  font-size: 32px;
  font-weight: $font-weight-bold;
}

h2,
h3,
h4,
h5,
h6 {
  color: $regal-blue;
  font-family: $sans-serif-stack;
  font-weight: $font-weight-bold;
  margin: 0;
}

h2 {
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-bottom: 12px;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;
}

h4 {
  color: $sandy-orange;
  font-size: 14px;
}

/**
 * Add a dotted bottom border to heading text
 */
.heading--dotted-border {
  border-bottom: 1.5px dotted $regal-blue;
}
