// -----------------------------------------------------------------------------
// This file contains basic typography styles for copy text
// -----------------------------------------------------------------------------

/**
 * Google fonts
 */

@include font-face(Lato, normal, 400, 'Lato Regular', lato-v23-latin, lato-v23-latin-regular);
@include font-face(Lato, normal, 700, 'Lato Bold', lato-v23-latin, lato-v23-latin-700);
@include font-face(Lato, normal, 900, 'Lato Black', lato-v23-latin, lato-v23-latin-900);
@include font-face(Manuale, normal, 400, 'Manuale Regular', manuale-v23-latin, manuale-v23-latin-regular);
@include font-face(Manuale, normal, 700, 'Manuale Bold', manuale-v23-latin, manuale-v23-latin-700);
@include font-face(Lato, italic, 400, 'Lato Italic', lato-v23-latin, lato-v23-latin-italic);
@include font-face(Lato, italic, 700, 'Lato Bold Italic', lato-v23-latin, lato-v23-latin-700italic);
@include font-face(Lato, italic, 900, 'Lato Black Italic', lato-v23-latin, lato-v23-latin-900italic);
@include font-face(Manuale, italic, 400, 'Manuale Italic', manuale-v23-latin, manuale-v23-latin-italic);
@include font-face(Manuale, italic, 700, 'Manuale Bold Italic', manuale-v23-latin, manuale-v23-latin-700italic);

/* material-icon */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src:
    local('Material Icons'),
    url('./assets/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
    url('./assets/fonts/material-icons/MaterialIcons-Regular.ttf') format('truetype');
}

/**
 * Apply basic text styles for body and bold/italic elements
 */
body {
  color: $night-grey;
  font-family: $serif-stack;
  font-size: 16px;
  font-weight: $font-weight-normal;
  line-height: inherit;
}

p,
a {
  line-height: 26px;
  margin: 0 0 10px;

  @include lg-up {
    font-size: 17px;
    line-height: 28px;
  }
}

strong,
b {
  font-family: inherit;
  font-weight: $font-weight-bold;
}

em,
i {
  font-family: inherit;
  font-style: italic;
}

/**
 * Links
 */

/** Links are underlined by default
 * On link focus, hover, and active events:
 * 1. Change the color
 * 2. Show mouse cursor as pointer on hover
 * 3. Remove link underline
 */
a {
  color: $flame-orange;
  text-decoration: underline;

  @include on-event {
    @include transition-default;

    color: $crusta-orange; /* 1 */
    cursor: pointer; /* 2 */
    text-decoration: none; /* 3 */
  }
}

/**
 * Make a link bold
 */
.link--bold {
  font-weight: $font-weight-bold;
}

/**
 * Lists
 */

ul {
  font-family: $serif-stack;
  line-height: 23px;

  @include lg-up {
    font-size: 17px;
    line-height: 24px;
  }
}

/**
 * Remove the default bullet and left indent from an unordered list
 */
.list--unstyled {
  list-style: none;
  padding-left: 0;
}

/**
 * Headings
 */

h1 {
  color: $night-grey;
  font-family: $serif-stack;
  font-size: 32px;
  font-weight: $font-weight-bold;

  @include md-up {
    font-size: 42px;
  }

  @include lg-up {
    font-size: 52px;
  }
}

h2,
h3,
h4,
h5,
h6 {
  color: $regal-blue;
  font-family: $sans-serif-stack;
  font-weight: $font-weight-bold;
  margin: 0;
}

h2 {
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 60px;
  padding-bottom: 12px;

  @include lg-up {
    font-size: 28px;
    margin-top: 0;
  }
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 30px;

  @include lg-up {
    font-size: 20px;
  }
}

h4 {
  color: $sandy-orange;
  font-size: 14px;

  @include lg-up {
    font-size: 16px;
  }
}

/**
 * Add a dotted bottom border to heading text
 */
.heading--dotted-border {
  border-bottom: 1.5px dotted $regal-blue;
}
